 body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Cormorant Infant", sans-serif;
 }
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
 }